<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean class="com.myCompany.invoise.controller.WebInvoiceController"/>

    <bean class="com.myCompany.invoise.service.PrefixInvoiceService">
        <property name="invoiceNumber" value="113"/>
        <property name="prefix" value="INV_"/>
    </bean>

    <bean class="com.myCompany.invoise.repository.DatabaseInvoiceRepository"/>

</beans>