<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoice management</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

<style>
    .table-custom {
        font-size: 16px;
        border-collapse: collapse;
    }
    .table-custom th, .table-custom td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    .table-custom th {
        background-color: #f2f2f2;
    }
</style>


<main>
    <section style="text-align: center">
       <h1>Welcome in my web pages for management invoice</h1>
       <h3>Action than you can use :</h3>
    </section>
    <section>
        <button>Add invoice</button>
    </section>
<!--    <nav>-->
<!--        <ul>-->
<!--            <li><a href=""><button>Add invoice</button></a></li>-->
<!--        </ul>-->
<!--    </nav>-->
     <section style="margin-top: 5px;">
        <table class="table-custom">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <tr th:each="invoice: ${invoices}">
                <td th:text="${invoice.number}"></td>
                <td th:text="${invoice.customerName}"></td>
            </tr>
        </table>
     </section>
</main>
</body>
</html>